<br>
<div class="container col-md-10 text-center">
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <form action="/search" method="post" class="">
                    <div class="form-group">
                        <input class="form-control" type="search" placeholder="Search by product's name" name="name" id=""
                               required>
                    </div>
                </form>
            </div>
            <div class="col">
                <select class="form-control" name="sort" id="" onchange="window.location.href=this.value">
                    <option value="#">Sort by</option>
                    <option value="/priceasc">Price gradually increases</option>
                    <option value="/pricedesc">Prices gradually decrease</option>
                    <option value="/nameasc">Names ascending</option>
                    <option value="/namedesc">Names descending</option>
                </select>
            </div>
        </div>
        <br>
        <div class="row">
            {{#each products}}
                <div class="col-md-3">
                    <div class="card mb-4">
                        <a href="/detail/{{ _id }}">
                            <img src="{{ image }}" class="card-img-top bg-dark" width="150" height="250 alt="{{ name }}">
                        </a>
                        <div class="card-body   ">
                            <h6 class="card-title">{{ name }}</h6>
                            <p class="card-text">${{ price }}</p>
                            <a href="/detail/{{ _id }}" class="btn btn-danger">View Details</a>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>